
<div *ngIf="video">
    <h2><span>Video</span> {{video.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Video Key</span></dt>
        <dd>
            <span>{{video.videoKey}}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
            <span>{{video.name}}</span>
        </dd>
        <dt><span>Video Site</span></dt>
        <dd>
            <span>{{video.videoSite}}</span>
        </dd>
        <dt><span>Video Size</span></dt>
        <dd>
            <span>{{video.videoSize}}</span>
        </dd>
        <dt><span>Video Type</span></dt>
        <dd>
            <span>{{video.videoType}}</span>
        </dd>
        <dt><span>Movie</span></dt>
        <dd>
            <div *ngIf="video.movieId">
                <a [routerLink]="['/movie', video.movieId]">{{video.movieId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'video/'+ video.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
