<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myRatedMovieLabel">Create or edit a Rated Movie</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!ratedMovie.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ratedMovie.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_createdOn">Created On</label>
            <div class="d-flex">
                <input id="field_createdOn" type="datetime-local" class="form-control" name="createdOn" [(ngModel)]="ratedMovie.createdOn"
                required/>
            </div>
            <div [hidden]="!(editForm.controls.createdOn?.dirty && editForm.controls.createdOn?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdOn?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createdOn?.errors?.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rate">Rate</label>
            <input type="number" class="form-control" name="rate" id="field_rate"
                [(ngModel)]="ratedMovie.rate" required/>
            <div [hidden]="!(editForm.controls.rate?.dirty && editForm.controls.rate?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.rate?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.rate?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" for="field_movie">Movie</label>
            <select class="form-control" id="field_movie" name="movie" [(ngModel)]="ratedMovie.movieId"  required>
                <option *ngIf="!editForm.value.movie" [ngValue]="null" selected></option>
                <option [ngValue]="movieOption.id" *ngFor="let movieOption of movies; trackBy: trackMovieById">{{movieOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.movie?.dirty && editForm.controls.movie?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.movie?.errors?.required">
                This field is required.
            </small>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" [(ngModel)]="ratedMovie.userId"  required>
                <option *ngIf="!editForm.value.user" [ngValue]="null" selected></option>
                <option [ngValue]="profileOption.id" *ngFor="let profileOption of profiles; trackBy: trackProfileById">{{profileOption.id}}</option>
            </select>
        </div>
        <div [hidden]="!(editForm.controls.user?.dirty && editForm.controls.user?.invalid)">
            <small class="form-text text-danger"
                [hidden]="!editForm.controls.user?.errors?.required">
                This field is required.
            </small>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
